body {
    background-color: bisque;
}
p.topHead {
    font-style: italic;

}
#mainHead {
    font-weight: 900;
    text-align: center;
}

p.intro {
    color: chocolate;
    border-style: solid;
    border-width: 5px;
    border-color: purple;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

h2.introHead {
    font-weight: bold;
    text-align: center;
}

.margin-set {
    margin: 20px;
}

.align-para {
        text-align: justify;
    }